# API
EXPO_PUBLIC_API_URL=https://api.example.com

# Auth - AWS Amplify (Cognito)
EXPO_PUBLIC_COGNITO_USER_POOL_ID=
EXPO_PUBLIC_COGNITO_CLIENT_ID=
EXPO_PUBLIC_COGNITO_IDENTITY_POOL_ID=

# Auth - Supabase
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Crash Reporting - Sentry
EXPO_PUBLIC_SENTRY_DSN=
