# App Environment (development | staging | production)
EXPO_PUBLIC_APP_ENV=development

# API
EXPO_PUBLIC_API_URL=http://localhost:8000

# Auth - Supabase (local Docker setup)
EXPO_PUBLIC_SUPABASE_URL=http://localhost:8000
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0

# Auth - AWS Amplify (Cognito)
EXPO_PUBLIC_COGNITO_USER_POOL_ID=
EXPO_PUBLIC_COGNITO_CLIENT_ID=
EXPO_PUBLIC_COGNITO_IDENTITY_POOL_ID=

# Crash Reporting - Sentry
EXPO_PUBLIC_SENTRY_DSN=
